In [1]:

import pandas as pd
import pyodbc 

server = 'DESKTOP-505F0PE' # Substitua pelo nome do servidor SQL Server
database = 'Python'  # Substitua pelo nome do banco de dados
conexaoDB = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      f'SERVER={server};'
                      f'DATABASE={database};'
                      'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando '

In [2]:
Query = """

select
T1.id,
T1.total_price,
T2.created_at,
T2.status,
T4.Categoria,
T3.Nome as Produto,
T5.first_name as NomeCliente,
T5.email,
T5.cell_phone as Telefone,
T5.state as Estado
from Items as T1
Left Join Ordens as T2 on T1.order_id = T2.id
Left Join Produtos as T3 on T1.product_id = T3.ID
Left Join Categoria as T4 on T3.Id_Category = T4.ID
Left Join Clientes as T5 on T2.customer_id = T5.id


"""

In [3]:
Join = pd.read_sql(Query,conexaoDB)
Join.head(10)

C:\Users\nicon\AppData\Local\Temp\ipykernel_18452\2881997810.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Join = pd.read_sql(Query,conexaoDB)

,id,total_price,created_at,status,Categoria,Produto,NomeCliente,email,Telefone,Estado
0,10682,377.0,2019-08-28 03:36:31,entregue,Eletrônicos,Máquina Fotográfica,Daniel,daniel@teste.com,9 4761-6557,Rio Grande do Norte
1,15650,10.0,2019-08-28 03:36:31,entregue,Cosméticos e Perfumaria,Hidratante caro,Daniel,daniel@teste.com,9 4761-6557,Rio Grande do Norte
2,19082,20.0,2019-08-28 03:36:31,entregue,Livros,A Comédia Engraçada,Daniel,daniel@teste.com,9 4761-6557,Rio Grande do Norte
3,26312,92.0,2019-08-28 03:36:31,entregue,Livros,O Romance Exagerado,Daniel,daniel@teste.com,9 4761-6557,Rio Grande do Norte
4,26347,2304.0,2019-08-28 03:36:31,entregue,Celulares,Chiai-homi,Daniel,daniel@teste.com,9 4761-6557,Rio Grande do Norte
5,43593,4119.0,2019-08-28 03:36:31,entregue,Eletrodomésticos,Fogão,Daniel,daniel@teste.com,9 4761-6557,Rio Grande do Norte
6,13271,45.0,2019-08-16 20:21:30,entregue,Livros,Terror Aterrorizante,Everton,everton@meu_email.com,9 2553-4087,Distrito Federal
7,19379,15.0,2019-08-16 20:21:30,entregue,Cosméticos e Perfumaria,Shampoo,Everton,everton@meu_email.com,9 2553-4087,Distrito Federal
8,27811,30.0,2019-08-16 20:21:30,entregue,Cosméticos e Perfumaria,Creme de Barbear,Everton,everton@meu_email.com,9 2553-4087,Distrito Federal
9,34234,57.0,2019-08-16 20:21:30,entregue,Moda e Acessórios,Vestido Super curto,Everton,everton@meu_email.com,9 2553-4087,Distrito Federal